.referral {
  margin-top: 100px;
  position: relative;
  h4 {
    position: relative;
    z-index: 999;
  }
  &-desc {
    margin-top: 15px;
    position: relative;
    z-index: 999;
  }
  &-box {
    border-radius: 10px;
    background-color: #36373c96;
    padding: 30px;
    margin-top: 40px;
    position: relative;
    z-index: 999;
    @media screen and (max-width: 1000px) {
      padding: 20px;
    }
    &-link {
      background-color: black;
      border-radius: 10px;
      padding: 5px 20px 5px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 700px) {
        padding: 5px 20px;
      }
      @media screen and (max-width: 500px) {
        padding: 5px 10px;
      }
      button {
        width: 100px;
        height: 33px;
        justify-content: center;
        i {
          font-size: 18px;
        }
        @media screen and (max-width: 700px) {
          width: 80px;
        }
      }
      &-wrapper {
        background-color: #36373c;
        padding: 20px 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        @media screen and (max-width: 700px) {
          padding: 10px 15px;
        }
      }
    }
    p {
      width: 60%;
      margin: 0 auto;
      padding-bottom: 10px;
      border-bottom: 1px solid #fc9a00;
      @media screen and (max-width: 1500px) {
        width: 80%;
      }
      @media screen and (max-width: 1000px) {
        width: 95%;
        font-size: 14px;
      }
    }
  }
  &-bg {
    position: absolute;
    z-index: 0;
    width: 550px;
    top: -77%;
    right: -36%;
    @media screen and (max-width: 1500px) {
      width: 500px;
      right: -32%;
    }
    @media screen and (max-width: 1250px) {
      width: 400px;
      right: -27%;
    }
    @media screen and (max-width: 1000px) {
      width: 350px;
      right: -25%;
      top: -70%;
    }
    @media screen and (max-width: 700px) {
      width: 300px;
      top: -60%;
      right: -20%;
    }
    @media screen and (max-width: 600px) {
      width: 250px;
      top: -60%;
      right: -22%;
    }
    img {
      width: 100%;
    }
  }
}
